<a href="https://colab.research.google.com/github/RifatMuhtasim/Apache_Spark/blob/main/1.02.PySpark_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import gdown
import os
import zipfile

# Replace 'output_path' with the path where you want to save the file
output_path = 'dataset.zip'

if os.path.exists(output_path):
    print("File exists!")

else:
    print("File does not exist.")
    # Replace 'file_id' with the ID of your file in Google Drive
    file_id = '1matQHY1Q4xHT4m_jxVSZ8Oefgk6ZiDi2'
    gdown.download(f'https://drive.google.com/uc?id={file_id}', output_path, quiet=False)

    # Path to your .zip file (Must Change. Same as the Output Path)
    zip_file_path = '/content/dataset.zip'

    # Extract the contents of the .zip file to the root directory
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall('/content/')

    # List the contents of the root directory
    extracted_files = !ls -a /content/
    print("Files extracted to root directory:", extracted_files)

File exists!

# PySpark DataFrame

In [2]:
#Load PySpark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('DataFrame').getOrCreate()
spark

## Reading the dataframe

In [3]:
#Read the dataset
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## Checking the Datatypes of Column(Schema)

In [4]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [5]:
#checking datatypes of columns
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

## Selecting Columns And Indexing

In [6]:
#Show all columns name
df_pyspark.columns

['Name', 'age', 'Experience', 'Salary']

In [7]:
#Select columns
df_pyspark.select(['Name', 'Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
|     Paul|         3|
|   Harsha|         1|
|  Shubham|         2|
+---------+----------+

## Check Describe option similar to Pandas

In [8]:
#Describe dataset
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

## Adding Columns

In [9]:
#add a column with conditions
df_pyspark = df_pyspark.withColumn('Salary Next Year', df_pyspark['Salary'] + 5550)
df_pyspark.show()

+---------+---+----------+------+----------------+
|     Name|age|Experience|Salary|Salary Next Year|
+---------+---+----------+------+----------------+
|    Krish| 31|        10| 30000|           35550|
|Sudhanshu| 30|         8| 25000|           30550|
|    Sunny| 29|         4| 20000|           25550|
|     Paul| 24|         3| 20000|           25550|
|   Harsha| 21|         1| 15000|           20550|
|  Shubham| 23|         2| 18000|           23550|
+---------+---+----------+------+----------------+

## Dropping columns

In [10]:
#Drop Salary Next Year column
df_pyspark = df_pyspark.drop('Salary Next Year')
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## Rename Columns

In [11]:
df_pyspark = df_pyspark.withColumnRenamed('age', 'Age')
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+